<div th:fragment="item" class="bg-white col-lg-2 col-md-3 col-sm-4 col-12 m-0 p-0 item-card border">
    <a th:href="@{/product/} + ${product.id}" style="text-decoration: none;">
        <div class="m-0 p-0 bg-secondary" style="width: 100%; height: 200px;">
            
        </div>
        <div class="item-card-description text-dark">
            <p class="m-0 p-0" th:text="${product.generic_name}">Generic Name</p>
        </div>
        <div class="item-card-price text-dark">
            ₱0.00
        </div>
    </a>
</div>