<div th:fragment="item-order" class="p-0 m-0 bg-primary" style="border-bottom: 1px solid rgb(184, 184, 184);">
    <div class="row m-0 p-0">
        <div class="col-12 col-md-2 m-0 p-0 bg-secondary" style="height: 150px;">
            Image
        </div>
        <div class="col-12 col-md-10 m-0 p-0 px-2 pt-1 bg-success text-left">
            <h5>Brand</h5>
            <h6>Generic</h6>
            <h6>Dosage:Form</h6>
            <h6>Price</h6>
            <h6>Quantity</h6>
        </div>
    </div>
</div>