@font-face {
    font-family: pulse;
    src: url(../fonts/pulse_font/Pulse.otf);
}
@font-face {
    font-family: allura;
    src: url(../fonts/allura_font/Allura-Regular.ttf);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.bg-dark-primary-theme {
    background-color: #121213;
}
.text-dark-primary-theme {
    color: #121213;
}
.bg-primary-theme {
    background-color: #1f2024;
}
.text-primary-theme {
    color: #1f2024;
}
.bg-secondary-theme {
    background-color: #b9e9fa;
}

.text-secondary-theme {
    color:#6099AE;
}

.pulse-font {
    font-family: pulse;
}

.allura-font {
    font-family: allura;
}

.h3-header {
    font-size: 2rem;
}
.h1-header {
    font-size: 3rem;
}

.p-header {
    font-size: 2rem;
}

.small-card {
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.item-card {
    width: 250px; 
    height:300px;
}

.item-card-description {
    padding-top: 5px;
    padding-left:10px;
    padding-right:10px;
    height: 50px;
    font-size: 1rem
}

.item-card-price {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height:50px;
    font-size: 1.3rem;
}

@media (min-width: 768px){
    .h3-header{
        font-size: 5rem;
    }
    .h1-header {
        font-size: 6rem;
    }

    .small-card {
        width: 40%;
    }
}
