<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="components/header :: header"></th:block>
        <title>My cart</title>
    </head>
    <body class="bg-primary-theme" style="background-color: black;">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="text-center py-5 px-3">
            <div class="m-0 p-2 bg-dark ">
                <div class="w-10 m-2 p-2 text-right">
                    <h4 th:text="'Total: ₱' + ${total}" class="text-white">₱0.0</h4>
                </div>
                <th:block th:if="${buyer.cart.cartProducts.size > 0}" th:each="cartProduct : ${buyer.cart.cartProducts}">
                    <div th:replace="fragments/item-cart :: item-cart"></div>
                </th:block>
                <th:block th:if="${buyer.cart.cartProducts.size == 0}">
                    <h1 class="text-white mb-5">No products to check out . . .</h1>
                </th:block>
                <div class="w-10 m-2 p-2 text-right">
                    <button type="button" onclick="checkout();" class="btn btn-success">
                        Check out
                    </button>
                    <button type="button" onclick="removeProduct(0);" class="btn btn-danger">
                        Remove all
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="exampleModalBody">
                  Product added to cart!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </body>
    <script th:inline="javascript">
        function removeProduct(id){
            var parameter = "?prod_id=" + id;
            $.get("/remove-product" + parameter, function(data){
                window.location.assign("/cart");
            });
        }

        function checkout(){
            var hasNoStocks = '[[${hasOutOfStock}]]';
            if(hasNoStocks == "true"){
                $("#exampleModalLabel").text("Invalid order!");
                $("#exampleModalBody").text("Please remove products with no stocks available!");
                $('#exampleModal').modal({ show: true });
                return;
            }
            window.location.assign("/checkout");
        }
    </script>
</html>