<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="components/header :: header"></th:block>
        <title>My Dashboard</title>
    </head>
    <body class="bg-primary-theme" style="background-color: black;">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="text-center py-5">
            <div class="bg-white p-2">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending Consultations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="confirmed-tab" data-toggle="tab" href="#confirmed" role="tab" aria-controls="confirmed" aria-selected="false">Confirmed Consultations</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                      <div th:replace="fragments/pending-tab :: pending-tab"></div>
                  </div>
                  <div class="tab-pane fade" id="confirmed" role="tabpanel" aria-labelledby="confirmed-tab">
                      <!-- <div th:replace="fragments/received-tab :: received-tab"></div> -->
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>