<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="components/header :: header"></th:block>
        <title>Delivieries - Medicine Delivery Site</title>
    </head>
    <body class="bg-primary-theme" style="background-color: black;">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="text-center py-5">
            <div class="bg-white p-2 mx-5">
                <h3>Deliveries</h3>
                <hr>
                <div th:replace="fragments/delivery-tab :: delivery-tab"></div>
            </div>
        </div>
    </body>
</html>