<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="components/header :: header"></th:block>
        <title>Medicine Delivery Site</title>
    </head>
    <body class="bg-primary-theme" style="background-color: black;">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="text-center py-5">
            <img src="/img/logo.png" alt="Leonardia Pharmacy Logo" style="width: 140px; margin-bottom: -50px;">
            <h1 class="text-white mt-5 h3-header pulse-font">LEONARDIA</h1>
            <h1 class="text-secondary-theme h1-header pulse-font">PHARMACY</h1>
            <p class="text-white allura-font p-header">We're here because we care. . .</p>
        </div>
    </body>
</html>