<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="components/header :: header"></th:block>
        <title>Medicine Delivery Site</title>
    </head>
    <body class="bg-secondary-theme">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="bg-primary-theme text-center py-5" style="height: 500px;">
            <h1 class="text-white mt-5 h3-header pulse-font">LEONARDIA</h1>
            <h1 class="text-secondary-theme h1-header pulse-font">PHARMACY</h1>
        </div>
    </body>
</html>
