<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="components/header :: header"></th:block>
    <title th:text="${product.genericName} + ' ' + product">Product Name</title>
  </head>
  <body class="bg-primary-theme" style="background-color: black">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="py-5 px-5">
      <div class="m-0 p-3 row bg-white" style="height: 500px">
        <div class="col-md-5 col-12 m-0 p-0 bg-secondary">
          <p></p>
        </div>
        <div class="col-md-7 col-12 m-0 p-0 pl-4" style="font-size: 1.2rem">
          <h3 th:text="${product.brandName}">Brand Name</h3>
          <h4 th:text="${product.genericName}">Generic Name</h4>
          <h4 th:text="${product.dosageStrength} + ':' + ${product.form}">Dosage Strength:Form</h4>
          <h4 th:text="${product.description}">Description</h4>
          <br />
          <h1 th:text="₱ + ${product.price}">Price</h1>
          <div class="input-group custom-quantity-size mt-5">
            <span class="input-group-btn">
              <button type="button" class="quantity-left-minus btn btn-secondary btn-number" data-type="minus" data-field="">
              -
              </button>
            </span>
            <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100"/>
            <span class="input-group-btn">
              <button type="button" class="quantity-right-plus btn btn-secondary btn-number" data-type="plus" data-field="">
              +
              </button>
            </span>
          </div>
          <span class="input-group-btn">
              <p class="text-secondary" style="font-size: 1rem;"><th:block th:text="${product.stock}">1</th:block> available left</p>
          </span>
          <div class="w-100">
            <button type="button" onclick="buy();" class="btn btn-danger btn-number" style="width: 150px;">
              Buy now
            </button>
            <button type="button" onclick="addToCart();" class="btn btn-outline-danger btn-number mt-1" style="width: 150px;">
              Add to cart
            </button>
          </div>
          <div th:if="${#request.userPrincipal} != null" class="w-100 mt-2">
            <th:block th:if="${#request.userPrincipal.principal.getRole} == 'pharmacist'">
              <button type="button" onclick="edit();" class="btn btn-success" style="width: 150px;">
                Edit Product
              </button>
            </th:block>
          </div>
        </div>
      </div>
    </div>
<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="exampleModalBody">
            Product added to cart!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <th:block th:if="${#request.userPrincipal} != null">
      <div th:if="${#request.userPrincipal.principal.getRole} == 'pharmacist'" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form th:action="@{/edit-product?product=} + ${product.id}" method="POST" th:object="${product}">
              <div class="modal-body" id="editModalBody">
                <div class="form-group text-left">
                    <label for="brand">Brand name</label>
                    <input th:field="*{brandName}" th:value="${product.brandName}" type="text" class="form-control form-control-sm" id="brand" placeholder="Enter brand name" required>
                </div>
                <div class="form-group text-left">
                    <label for="generic">Generic name</label>
                    <input th:field="*{genericName}" th:value="${product.genericName}" type="text" class="form-control form-control-sm" id="generic" placeholder="Enter generic name" required>
                </div>
                <div class="form-group text-left">
                    <label for="dosage">Dosage Strength</label>
                    <input th:field="*{dosageStrength}" th:value="${product.dosageStrength}" type="text" class="form-control form-control-sm" id="dosage" placeholder="Enter dosage strength" required>
                </div>
                <div class="form-group text-left">
                    <label for="form">Form</label>
                    <input th:field="*{form}" th:value="${product.form}" type="text" class="form-control form-control-sm" id="form" placeholder="Enter form" required>
                </div>
                <div class="form-group text-left">
                    <label for="description">Description</label>
                    <input th:field="*{description}" th:value="${product.description}" type="text" class="form-control form-control-sm" id="description" placeholder="Enter description" required>
                </div>
                <div class="form-group text-left">
                    <label for="price">Price</label>
                    <input th:field="*{price}" th:value="${product.price}" type="number" class="form-control form-control-sm" id="price" placeholder="Enter price" required>
                </div>
                <div class="form-group text-left">
                    <label for="stock">Stock</label>
                    <input th:field="*{stock}" th:value="${product.stock}" type="number" class="form-control form-control-sm" id="stock" placeholder="Enter stock" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Confirm Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </th:block>
  </body>
  <script th:inline="javascript">
    /*<![CDATA[*/
      function addToCart(){

        var stocks = '[[${product.stock}]]';
        if(stocks == 0){
          $("#exampleModalLabel").text("No available stocks!");
          $("#exampleModalBody").text("No stocks available for this product!");
          $('#exampleModal').modal({ show: true });
          return;
        }

      var product_id = '[[${product.id}]]';
      var quantity = $("#quantity").val();
      var parameter = "?prod_id=" + product_id + "&" + "quantity=" + quantity;
      $.get("/add-to-cart" + parameter, function(data){
        if(data == true){
          $("#exampleModalLabel").text("Success!");
          $("#exampleModalBody").text("Product added to cart!");
        }else{
          $("#exampleModalLabel").text("Login required!");
          $("#exampleModalBody").text("Log in first as buyer to add in the cart!");
        }
        $('#exampleModal').modal({ show: true });
      });
    }

    function buy(){

      var stocks = '[[${product.stock}]]';
      if(stocks == 0){
        $("#exampleModalLabel").text("No available stocks!");
        $("#exampleModalBody").text("No stocks available for this product!");
        $('#exampleModal').modal({ show: true });
        return;
      }

      var product_id = '[[${product.id}]]';
      var quantity = $("#quantity").val();
      var parameter = "?prod_id=" + product_id + "&" + "quantity=" + quantity;
      $.get("/add-to-cart" + parameter, function(data){
        if(data == true){
          window.location.assign("/cart");
        }else{
          $("#exampleModalLabel").text("Login required!");
          $("#exampleModalBody").text("Log in first as buyer to add in the cart!");
          $('#exampleModal').modal({ show: true });
        }
      });
    }

    function edit(){
      $('#editModal').modal({ show: true });
    }

    $(document).ready(function () {
      $(".quantity-right-plus").click(function (e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var quantity = parseInt($("#quantity").val());

        if(quantity.toString() == "NaN" || quantity <= 0){
            quantity = 0;
        }

        var maxStock = parseInt('[[${product.stock}]]');

        if(quantity >= maxStock){
            $("#quantity").val(maxStock);
        }else{
            $("#quantity").val(quantity + 1);
        }

        // Increment
      });

      $(".quantity-left-minus").click(function (e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var quantity = parseInt($("#quantity").val());

        // If is not undefined

        // Increment
        if (quantity > 1) {
          $("#quantity").val(quantity - 1);
        }else{
            $("#quantity").val(1);
        }
      });

      $("#quantity").change(function (e){
        var quantity = parseInt($("#quantity").val());
        var maxStock = parseInt('[[${product.stock}]]');

        if(quantity > maxStock){
            $("#quantity").val(maxStock);
        }else if (quantity < 1){
            $("#quantity").val(1);
        }
      });
    });    
   /*]]>*/
  </script>
</html>
