<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="components/header :: header"></th:block>
        <title>Register - Medicine Delivery Site</title>
    </head>
    
    <body class="bg-primary-theme" style="background-color: black;">
        
        <div class="bg-primary-theme text-white small-card" style="margin-top: 100px;">
            <div class="m-0 p-0 text-center">
                <h2>Register</h2>
            </div>
            <div class="m-0 p-0">
                <form th:action="@{/process-user}" method="POST">
                    <div class="form-group text-left">
                        <label for="firstName">First Name</label>
                        <input th:field="${user.firstName}" type="text" class="form-control form-control-sm" id="firstName" placeholder="Enter firstname" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="lastnName">Last Name</label>
                        <input th:field="${user.lastName}" type="text" class="form-control form-control-sm" id="lastName" placeholder="Enter lastname" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="email">Email</label>
                        <input th:field="${user.email}" type="text" class="form-control form-control-sm" id="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="password">Password</label>
                        <input th:field="${user.password}" type="password" class="form-control form-control-sm" id="password" placeholder="Enter password" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="address">Address</label>
                        <input th:field="${user.address}" type="text" class="form-control form-control-sm" id="address" placeholder="Enter address" required>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <label for="">Sex</label><br>
                            <div class="form-check form-check-inline">
                                <input th:field="${user.sex}" type="radio" class="form-check-input" name="sexOptions" id="male" value="male" required>
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input th:field="${user.sex}" type="radio" class="form-check-input" name="sexOptions" id="female" value="female" required>
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Account Type</label>
                        </div>
                        <select th:field="${user.role}" class="custom-select" id="inputGroupSelect01" onchange="showInput(value);">
                          <option selected value="buyer">I'm a buyer</option>
                          <option value="doctor">I'm a Doctor</option>
                          <option value="pharmacist">I'm a Pharmacist</option>
                          <option value="driver">I'm a Driver</option>
                        </select>
                    </div>
                    <div class="text-white">
                        <div id="doctorDiv" hidden>
                            <div class="form-group text-left">
                                <label for="doctorlicense">Doctor License ID Number</label>
                                <input th:field="${doctor.license_id}" type="text" class="form-control form-control-sm" id="doctorlicense" placeholder="Enter license number" required>
                            </div>
                        </div>
                        <div id="pharmacistDiv" hidden>
                            <div class="form-group text-left">
                                <label for="pharmacistlicense">Pharmacist License ID Number</label>
                                <input th:field="${pharmacist.license_id}" type="text" class="form-control form-control-sm" id="pharmacistlicense" placeholder="Enter license number" required>
                            </div>
                        </div>
                        <div id="driverDiv" hidden>
                            <div class="form-group text-left">
                                <label for="driverlicense">Driver License ID Number</label>
                                <input th:field="${driver.license_id}" type="text" class="form-control form-control-sm" id="driverlicense" placeholder="Enter license number" required>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </form>
                <div class="mt-2">
                    <a th:href="@{/}">
                        <button class="btn btn-secondary btn-block">
                            Cancel
                        </button>
                    </a>
                </div>
                <hr class="bg-white">
                <div class="text-center">
                    <p>Already have an account? Click <a th:href="@{/register}">here</a> to Login!</p>
                </div>
            </div>
        </div>

    </body>
    <script type="text/javascript" th:inline="javascript">
        
        var doctorDiv = document.getElementById("doctorDiv");
        var pharmacistDiv = document.getElementById("pharmacistDiv");
        var driverDiv = document.getElementById("driverDiv");

        function showInput(value){
            hideAnything();
            if(value == "doctor"){
                doctorDiv.removeAttribute("hidden");
            }else if(value == "pharmacist"){
                pharmacistDiv.removeAttribute("hidden");
            }else if(value == "driver"){
                driverDiv.removeAttribute("hidden");
            }
        }
        function hideAnything(){
            doctorDiv.setAttribute("hidden", true);
            pharmacistDiv.setAttribute("hidden", true);
            driverDiv.setAttribute("hidden", true);
        }
    </script>
</html>