<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="components/header :: header"></th:block>
        <title>Store - Medicine Delivery Site</title>
    </head>
    <body class="bg-primary-theme" style="background-color: black;">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="py-5 px-5">
            <div class="w-100 m-0 p-0 bg-secondary">
                <div class="bg-dark w-100 p-1 m-0 row" style="height: 50px;">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" style="width: 500px;" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0 mr-1" type="submit">Search</button>
                    </form>
                </div>
                <div th:if="${count > 0}" class="row w-100 m-0 p-0">
                    <th:block th:each="product : ${products}">
                        <div th:replace="fragments/item :: item"></div>
                    </th:block>
                </div>
                <div th:if="${count == 0}" class="w-100 m-0 p-5 text-center text-white">
                    <h1>No available product</h1>
                </div>
            </div>
        </div>
    </body>
</html>